.overlay-darkLhover:hover {
  background: rgba(50, 70, 80, 0.7);
  overflow: hidden;
  height: 100%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.carousel-item:hover .image {
  opacity: 0.3;
  background-color: rgba(29, 29, 29, 0.7);
}
.carousel-caption {
  top: 10%;
}

section .ready-join {
  height: 200px;
}
.accordion {
  color: gray;
}
footer {
  height: 500px;
}
footer .fa-brands {
  font-size: 40px;
}
@media screen and (max-width: 720px) {
  h1 {
    font-size: 4vw;
    margin: 0;
  }
  h3 {
    font-size: 3vw;
    margin: 0;
  }
}
