.img-resize {
  width: 100%;
  height: 90vh;
}
.carousel-caption {
  color: white;
  top: 30%;
}
.overlay-darkLhover:hover {
  background: rgba(50, 70, 80, 0.7);
  overflow: hidden;
  height: 100%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.container:hover .image {
  opacity: 0.3;
  background-color: rgba(29, 29, 29, 0.7);
}
section .ready-join {
  height: 200px;
}
.accordion {
  color: gray;
}
